@font-face {
    font-family:"Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif";
    src: url("./Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2")format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif";
    src: url("./Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2")format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif";
    src: url("./Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2")format("woff2");
    font-weight: 700;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    font-family: "Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif";
}
.option_location p {
    font-weight: 400;
    font-size: 11px;
    padding: 0;
    margin: 0;
    display: inline-flex;
    color: #444141;
    padding-bottom: 9px;

}
.where_to{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.w1 p{
    font-size: 12px;
   font-weight: 500;
   padding-top: 8px;
   margin: 0;
}
.search_bar{
    background-color: aliceblue;
    border-radius: 50px;
    width: 88%;
    box-shadow: 0 0 0 0 rgba(129, 128, 128, 0.2), 0 3px 10px 0 rgba(76, 72, 72, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.search_icon svg{
    margin-left:13px;
}
.op{
   border-radius: 40px;
   border: 1px solid rgb(221, 218, 218);
}
.op svg{
    padding:10px 10px 10px 10px ;
}
.header{
    background-color: #fff;
    z-index: 3;
    position: fixed;
    width: 100%;
    padding-top:20px;
}
.header a{
 color: black;
 text-decoration: none;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 10px;

}
.container_swiper {
    padding-top: 10px;
    height: 59px;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(176, 173, 173);
}
.container_swiper .icon_menu{
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
display: none;
}

.icon_menu p{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 7px 0;
    color: #554a4a;
    width: 92px;
}
.icon_menu img{
    margin: 0;
}
.main{
    padding-top: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper {
    
    width: 294px;
    height: 100%;
    margin-top: 25px;
    border-radius: 17px;
  }

  .swiper-pagination-bullet {
width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
display: inline-block;
border-radius: 50%;
background: var(--swiper-pagination-bullet-inactive-color,rgb(213, 212, 212));
opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);}


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 297px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
.rating div{
    color: black;
}
.loc_name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name_l{
    width: 237px;
}
 .heart{
    top:15px;
    right: 15px;
    position: absolute;
    z-index: 2;
}
.content_details{
    padding: 14px 0 20px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rupees{
    gap : 9px;
    display: flex;
  
}
.content_details div:nth-child(1){
    font-weight:500 ;    
}
.content_details div:nth-child(2), .content_details div:nth-child(3){
    font-weight:400 ;
    font-size: 14px;
    color: #554a4a;
}
.content_details .rupees div:nth-child(2){
    color:#323232;
    
}
.footer{
    width: 100%;
    z-index: 4;
    position: absolute;
    margin: 0;
    background-color:rgb(241, 241, 241) ;
    border-top:1px solid gray ;
}
.bottom_info{
    margin-left: 11px;
   
}
.bottom_detail{
    gap: 10px;
    width: 264px;;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom:1px solid gray ;
    padding:12px 12px 12px 12px;
}
.bottom_detail p:nth-child(1){
    font-weight: 700;
    padding-bottom: 7px;

}
.bottom_detail p{
    font-size: 13px;
    margin: 0;
    padding: 0;

}
.eng_glo{
    display: flex;
    flex-direction: row;
    gap:10px

}
.eng_glo div:nth-child(2){
    font-weight: 500;
}
.money{
    display:flex;
    flex-direction: row;
    gap: 6px;
}

.lang_money{
    font-size: 13px;
    display:flex;
    flex-direction: row;
    gap:17px;
    padding: 6px 0 6px 0;
}
.b_terms{
    width: 266px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-size: 14px;
}
.ptscd{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.ptscd div:nth-child(1){
    font-size: 13px;
}
.bottom_credit{
    padding-top: 10px;
    padding-left:20px ;
}
.show_more p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    font-weight: 500;
}
.show_more{
    width: 107px;
    margin-top:29px ;
    border-top: 1px solid gray;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:90px
}
.show_more div:nth-child(1){
    border: 1px solid black;
    width: 123px;
    height: 47px;
    border-radius: 9px;

}
.map{
    border-radius: 85px;
    width: 57px;
    background-color: #323232;
    gap: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 18px 9px 18px;
}
.map div {
    color: #fff;

}



.icon_wf path{
    color: #b7aaaa ;
}
.icon_wf path:hover{
    color: red;
}
.menu_warpper div:nth-child(2){
    font-size: 13px;
    font-weight: 400;
    color: #554a4a;
}
.map_hover_menu{
    width: 100%;
    top: 417px;
    right: 0px;
    position:fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 7px;
   background-color: none;

}
.hover_menu{
    border-top:1px solid #44414173;
    background-color: white;
    width: 100%;
    padding:13px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.hover_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hover_icon div:nth-child(2){
    font-size: 10px;
    font-weight: 500;
    color: #808080;
}
.hover_icon svg{
    color: #808080;
}
.hover_icon svg :active{
    color: rgb(255, 56, 92) !important;
}

